.card {
  width: 350px;
  padding: 2rem;
  background-color: var(--background-light);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

form input,
form select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-sizing: border-box; /* Ensures padding doesn't affect width */
}

form button {
  width: 100%;
  padding: 10px;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

form button:hover {
  background: var(--secondary-color);
}

p span {
  color: var(--primary-color);
  cursor: pointer;
  font-weight: bold;
}
